<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Flash: Gallery</title>
    <meta name="viewport" content="width=divice-width,initial-scale=1"/>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.png') }}" />
    <style>
        body{
            background-color:gray;
            padding-top: 70px;
        }
        .navbar{
            margin:0;
        }
        .brand-image{
            max-height: 2.3em;
            max-width: 3em;
            display: inline;
            padding-bottom: 12px;
        }
    </style>
</head>
<body>
<!-- navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="{{ url_for('static', filename='images/flash_logo.png')}}" alt="Brand" class="brand-image"/>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="/gallery">Gallery</a></li>
                    <li><a href="#">Community</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#login">
                          Login
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#signup">
                          Sign Up
                        </a>
                    </li>
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- /nav -->
    <div class="container-fluid">
        <div class="row" >
            {% for image in images:%}
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail" data-toggle="modal" data-target="#image" data-url="{{ image['link'] }}">
                  <img src="{{ image['link'] }}"  class="img-responsive">
                </a>
                <div class="caption"><h4>{{ image['description'] }}</h4></div>
            </div>
            {% endfor %}
        </div>
    </div>

<!-- modal login -->
    <div class="modal fade" tabindex="-1" role="dialog" id="login">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Login</h4>
          </div>
          <div class="modal-body">
            <form class="form-inline">
              <div class="form-group">
                <label class="sr-only" for="LoginEmail">Email address</label>
                <input type="email" class="form-control" id="LoginEmail" placeholder="Email">
              </div>
              <div class="form-group">
                <label class="sr-only" for="LoginPassword">Password</label>
                <input type="password" class="form-control" id="LoginPassword" placeholder="Password">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox">Remember
                </label>
              </div>
              <button type="submit" class="btn btn-default">Log in</button>
            </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- modal sign up -->
    <div class="modal fade" tabindex="-1" role="dialog" id="signup">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Sign Up</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="inputUsername" class="col-sm-2 control-label">UserName</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputUsername" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
                <label for="reinputPassword" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="reinputPassword" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Sign Up</button>
                </div>
              </div>
            </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

       <!-- model image -->
    <div class="modal fade " tabindex="-1" role="dialog" id="image">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body videos">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <img class="image-responsive" style="width:100%" src="" />
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</body>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript">
    $('#image').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var url = button.data('url') // Extract info from data-* attributes

      // updating
      var modal = $(this)
      var img = modal.find('.modal-body img');
      if( img.attr("src") != url ){
            img.attr("src",url)
      }

    })
</script>
</html>