<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>The Flash: Home</title>
    <meta content="width=device-width,initial-scale=1" name=viewport>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.png') }}" />
    <style>
        body{
            background-color:gray;
            padding-top: 50px;
            min-height: 100%;
        }
        .navbar{
            margin:0;
        }
        .brand-image{
            max-height: 2.3em;
            max-width: 3em;
            display: inline;
            padding-bottom: 12px;
        }
        .large-image{
            background-image: url("{{ url_for('static',filename='images/flash_full.jpg') }}");
            min-height: 35em;
            background-size: cover;
            background-position:center;
            margin:0;
        }
        .videos{
            background-color:rgba(0, 0, 0, 0.3);
        }
        .copyleft {
          display:inline-block;
          transform: rotate(180deg);
        }

    </style>
</head>
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="{{ url_for('static', filename='images/flash_logo.png')}}" alt="Brand" class="brand-image"/>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="#">Community</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#login">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                            Login
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#signup">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                             Sign Up
                        </a>
                    </li>
                </ul>
                <form class="navbar-form navbar-right border">
                    <div class="form-group"  >
                        <div class="input-group">
                            <div class="input-group col-lg-12 center-block">
                                <input type="text" class="form-control" placeholder="Search" >
                            </div>
                            <div class="input-group-btn navbar-btn">
                                <button type="submit" class="btn btn-default"  >
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <!-- /nav -->
</header>
<body>

    <!-- navbar -->

    <!-- main image -->
    <div class="container-fluid large-image"></div>

    <!-- Teasers and Trailers -->
    <div class="container-fluid" >
        <p class="lead"><h3>Teasers and Trailers</h3></p>
        <div class="row">

            {% for video in videos:%}
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail" data-toggle="modal" data-target="#video" data-code="{{ video['code'] }}">
                  <img src="http://img.youtube.com/vi/{{ video['code'] }}/0.jpg"  alt="New Season">
                </a>
                <div class="caption"><h4>{{ video['title'] }}</h4></div>
            </div>
            {% endfor %}
        </div>
        <p><a style="color:black" href="https://www.youtube.com/watch?v=PuNDvJ82iRY&list=PL6abPzY300GUKkRliHvQnVccYlYOqLpix">
            See more on CW ...
        </a></p>
    </div>
    <!-- / Teasers and Trailers -->

    <!-- Behind the scenes -->
    <!-- Behind the scenes -->



    <!-- modal login -->
    <div class="modal fade" tabindex="-1" role="dialog" id="login">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Login</h4>
          </div>
          <div class="modal-body">
            <form class="form-inline" method="post" action="/login/">
              <div class="form-group">
                <label class="sr-only" for="LoginEmail">Email address</label>
                <input type="email" class="form-control" id="LoginEmail" placeholder="Email"
                       name="email" value="{{ request.form.email }}">
              </div>
              <div class="form-group">
                <label class="sr-only" for="LoginPassword">Password</label>
                <input type="password" class="form-control" id="LoginPassword" placeholder="Password"
                    name = "password" value="{{ request.form.password }}"
                >
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox">Remember
                </label>
              </div>
              <input type="submit" class="btn btn-default" value="Login">
            </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- modal sign up -->
    <div class="modal fade" tabindex="-1" role="dialog" id="signup">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Sign Up</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="inputUsername" class="col-sm-2 control-label">UserName</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputUsername" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
                <label for="reinputPassword" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="reinputPassword" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Sign Up</button>
                </div>
              </div>
            </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

       <!-- model video -->
    <div class="modal fade " tabindex="-1" role="dialog" id="video">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body  videos">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe  class="embed-responsive-item" src="" frameborder="0" allowfullscreen></iframe>
              </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</body>

<footer class="navbar navbar-bottom navbar-default">
    <div class="container-fluid">
        <p class="navbar-left navbar-text">
            <span class="copyleft">&copy;</span> 2017 | Anurag Regmi
        </p>
        <p class="navbar-text navbar-right">
            View source code on <a class="navbar-liink" href="github.com/anurag1234565/learning_flask">github.</a>
        </p>
    </div>
</footer>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript">
    $('#video').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var videoCode = button.data('code') // Extract info from data-* attributes

      // updating
      var modal = $(this)
      var url = "https://www.youtube.com/embed/" + videoCode
      var iframe = modal.find('.modal-body iframe');
      if( iframe.attr("src") != url ){
            iframe.attr("src",url)
      }

    })
</script>
</html>